<p id="notice"><%= notice %></p>

<h1>D Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @d_posts.each do |d_post| %>
      <tr>
        <td><%= d_post.title %></td>
        <td><%= d_post.content %></td>
        <td><%= image_tag("#{d_post.image.main}") %></td>
        <td><%= link_to 'Show', d_post %></td>
        <td><%= link_to 'Edit', edit_d_post_path(d_post) %></td>
        <td><%= link_to 'Destroy', d_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D Post', new_d_post_path %>
